<header>
    <h1><%=gear_item["name"]%></h1>
</header> 

<div class="details_gear_item">

    <div class="details_image">
        <img class="grid_display" src="<%= gear_item["image_url"] %>" alt="<%= gear_item["name"] %>">

    </div>

    <div class="details_text"> 
        <h2 class="item_name"> <%= gear_item["name"] %></h2>
        <h5 class="owner">About me: <%= gear_item["item_description"] %></h5>
        <h5 class="owner">Owned By <%= gear_item["owner_id"] %></h5>
        <h5 class="owner">Last used at: <%= gear_item["last_used_location"] %></h5>
        <h5 class="owner">Purchased at <%= gear_item["purchase_location"] %></h5>
    </div>

</div>

<%# Displays Comments that belong to this gear item %>
<div class="comments_container">

    <%gear_item_comments.each do |gear_item_comment|%>

        <div class="comment_block">
            <img src="#" alt="Posted by user - avatar">
            <p> <%=gear_item_comment["content"]%> </p>
            <p> <%=gear_item_comment["owner_id"]%> </p>

            <%# If the user that is logged in is the owner of the comment, give them the option to delete/edit the comment %>
            <% if gear_item_comment["owner_id"] == session[:user_id]%>
                <form action="/comments" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="comment_id" value="<%=gear_item_comment["comment_id"]%>">
                    <input name="gear_item_id" type="hidden" value="<%=gear_item["item_id"]%>">
                    <button>DELETE</button>
                </form>

            <%end%>

        </div>

    <%end%>


    <div class="new_comment_input">

        <form action="/comments/new" method="post">
            <input name="gear_item_id" type="hidden" value="<%=gear_item["item_id"]%>">

            <label for="">Leave a comment </label>
            <input name="comment_content" type="text">

            <button>COMMENT</button>
        </form>
        
    </div>

</div>


<%# If user is logged in and the session user ID = the owner user ID, then they can delete and edit the page %>
<div class="owner_modifications_container">
    <% if logged_in? && gear_item["owner_id"] == session[:user_id]%>
        <p><%=gear_item["owner_id"]%></p>
        <p><%=session[:user_id]%></p>
        <form action="/gear_items" method="post">
        <input type="hidden" name="item_id" value="<%= gear_item["item_id"] %>">
        <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
    </form>

        <a href="/gear_item/<%= gear_item["item_id"] %>/edit">EDIT</a>

    <% end %>
</div>


